{% extends 'new_movie/home.html'%}

{% block page %}  All Movies  {% endblock %}

{% block nav%}
    <li class="nav-item"><a href="{% url 'new_movie:home_page'%}" class="nav-link" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="{% url 'new_movie:add_page'%}" class="nav-link">Add Movie</a></li>
    <li class="nav-item"><a href="{% url 'new_movie:view_page'%}" class="nav-link active">All Movies</a></li>
{%endblock%}

{% block process%}

<div class="row">
    {% for movie in movies %}
    <div class="col" style="margin-bottom: 20px;">

        <div class="card" style="width: 19rem; height: 25rem;">
            
            <div class="card-body" >
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text" style=" overflow: scroll; height: 180px; text-overflow: ellipsis;">{{movie.content}}</p>
            <p class="card-text">is published? {{movie.is_published}}</p>
            <p class="card-text">publish date {{movie.publish_date}}</p>
            <a class="btn btn-primary" type="button" href="{% url 'new_movie:detail_page' movie.id %}"> Details</a>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>

   

{% endblock %}